<style>
  div.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
  }
  div.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-weight: bolder;
  font-size: xx-large;
  background-color: white;
  padding: 10px;
}
</style>

<div class="sticky">Coda Weather ChatBot</div>
<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{message.content}}
  </div>

</ng-container>

<div class="sticky-bottom">
  <label for="nameField">Ask weather conditions below</label>


  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Enter some valid place name..."><br>

  <button (click)="sendMessage()">Get Weather</button>
</div>